body{
    background-image: url("a.jpg");
    /* background-color: rgb(247, 247, 247); */
    /* background: linear-gradient(to bottom, #3364f8 0%, #b8c9fb 100%); */
    /* background: linear-gradient(to right, #96e3f7 0%, #20b4f8 100%); */

    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}
hr{
    
    width: 100%;
}
legend{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}
header{
    font-weight: bold;
    font-size: x-large;
    font-size: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mail:hover{
    background-color: greenyellow;
    
}
#all,#b
{
    display: flex;
}
#navigation{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-size: 40px;
    width: 100%;
    }

/* #section
{
    width: 30%;
    margin-left: 400px;
    background-color: aliceblue;
} */
/* img{
    width: 100%;
    margin-left: 6px;
} */
#image{
    width: 89%;
    margin-left: 9px;
    
}
#image1{
    width: 50%;
    border:solid black;
    border-radius: 10%;
    
}
#image:active{
    /* background-color: wheat; */
    position:absolute;
    top:100px;
    left:100px;
    width:1000px ;
    height: 1500px ;
    filter: blur(-10px);
    

}
label:hover{
    background-color: rgb(19, 143, 232);
    color: white;
    padding:5px;
    border: double black;
    border-radius: 20%;
}
#c1,#c2,#c3{
    font-family: 'Times New Roman', Times, serif;
    width: 80px;
}

#i1,#i2{
    margin-left: 20px;
    width: 40px;
    border: dotted black 2px;
    transition-property: color,width,border-radius;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
#i1:hover,#i1.active,#i2:hover,#i2.active{
    width:400px;
    border: solid black 4px;
    border-radius: 15%;
}
#ft{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#qr
{
    width: 20px;
    margin: auto;
    margin-left: 40px;
    transition-property: color,width,border-radius;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
#qr:hover{
    width: 100px;
    border: solid black 4px;
    border-radius: 10%;
}
#ln{
    width: 20px;
    margin: auto;
    margin-left: 40px;
}
#gi{
    width:30px;
    height: 20px;
    margin: auto;
    margin-left: 40px;
}
